
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





body {

    background-image: url('img/logo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial;

}

.desenvolvedor {
    padding-top: 250px;
    padding-bottom: 250px;
    text-align: center;
    align-items: center;
    width: 206px;
    height: 29px;
    color: #FFFFFF;
    font-weight: normal;

}

.cabecalho {
    width: 206px;
    height: 29px;
    left: 616px;
    top: 265px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;

}

.h1 {
    font-family: 'Kanit';
    font-size: 50px;
    width: 421px;
    height: 120px;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 120px;
}

.h2 {
    width: 282px;
    height: 31px;
    left: 578px;
    top: 487px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-align: center;

    color: #FFFFFF;
}


.p {
    width: 346px;
    height: 24px;
    left: 546px;
    top: 528px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}


.item-menu {
    font-size: 15px;
    text-align: center;
    align-items: center;
    color: aliceblue;
    font-weight: normal;
   
}

.site {
    text-align: justify;
    background-position: right top;
    background-repeat: repeat-y;
    top: 400px;
    width: 429px;
    height: 280px;
    justify-content: space-around;



}