
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





body {

    background-image: url('img/logo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial;

}



.cabecalho {
    width: 206px;
    height: 29px;
    left: 616px;
    top: 265px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.h1 {
    font-family: 'Kanit';
    font-size: 50px;
    width: 421px;
    height: 120px;
    font-style: normal;
    font-weight: 400;
    line-height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    

}

.h2 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 282px;
    height: 31px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    

    color: #FFFFFF;
}


.p {
    width: 346px;
    height: 24px;
    left: 546px;
    top: 528px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    
}


.item-menu {
    font-size: 15px;
    text-align: center;
    align-items: center;
    color: aliceblue;
    font-weight: normal;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
   
}

.site {
    text-align: justify;
    background-position: right top;
    background-repeat: repeat-y;
    top: 400px;
    width: 429px;
    height: 280px;
    justify-content: space-around;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    



}