@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body {

    background-image: url('img/logo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
   
}

.desenvolvedor {
  padding-top: 250px;
  padding-bottom: 250px;
    text-align: center;
    align-items: center;
    width: 206px;
    height: 29px;
    color: aliceblue;
    font-weight: normal;
  





}
h1{
    font-size: 100px;
}

